/* !===================================== responsive css =========================================*/
/* root prop  */
:root {
  /* ======================= font sizing =======================  */
  --title-text: 35px;
  --subtitle-text: 25px;
  --text: 17px;

  /* ======================= Color variables  =======================  */
  --bg-color: #000000;
  --text-color: #f2f2f2;
  --highlight-color: #4452fb;
  --button-color: #20bdff;
  --sub-highlight-color: #a5fecb;
  --card-section-orange: #ff4500;
  --marquee-highlight: #f9cc44;
}
@media screen and (max-width: 480px) {
  .about-container {
    /* border: 2px solid red; */
    /* height: 100vh; */
    /* min-height: 100vh; */
    height: max-content;

    /* max-height: auto; */
    width: 100%;
    /* margin: 0; */
    padding-top: 7vh;
    height: max-content;
    width: 100%;
    /* margin-bottom: 45px; */
  }
  .about-container .main-container {
    margin: 0;
  }
  .about-container .main-container .about-image {
    /* border: 2px solid blue; */
  }
  .about-container .main-container .about-image img {
    margin: 0px;
    height: 100%;
    width: 100%;
  }
  .about-content * {
    margin: 5px 0;
  }

  .about-container .main-container .about-content {
    margin: 0px;
    padding: 5vh 10px;
    height: max-content;
  }
  .about-container .main-container .about-content h2:nth-child(2) {
    font-size: 20px;
  }
  .about-container .main-container .about-content p {
    font-size: 14px;
  }
  /* ================ Vision & Mission ================= */
  .vision-container {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    /* height: 88vh; */
    min-height: 88vh;
    max-height: auto;
    padding-bottom: 2rem;
  }
  .vision-container .main-vision-container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .vision-container .main-vision-container .vision-content {
    /* border: 2px solid blue; */
    /* min-height: 40vh; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }

  .vision-container .main-vision-container .vision-content .vision-text {
    width: 95%;
    /* text-align: center; */
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .vision-container .main-vision-container .vision-content .vision-text h2 {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 20px;
  }
  .vision-container .main-vision-container .vision-content .vision-text p {
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }
  .vision-container
    .main-vision-container
    .vision-content
    .vision-image
    .vision-img {
    padding: 0;
  }
  .vision-container .main-vision-container .mission-content {
    /* border: 2px solid blue; */
    /* min-height: 40vh; */
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem 0;
  }
  .vision-container .main-vision-container .mission-content .test {
    width: 95%;
    /* text-align: center; */
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .vision-container .main-vision-container .mission-content .test h2 {
    padding: 20px;
    font-size: 25px;
  }
  .vision-container .main-vision-container .mission-content .test p {
    font-size: 15px;
    /* line-height: 20px; */
  }
  /* ================= Go Green Section ============== */
  .gogreen-main-container {
    min-height: 100vh;
    max-height: auto;
    padding: 0 10px;
  }

  .gogreen-main-container .gogreen-container {
    padding: 10px 10px;
    min-height: 90%;
    width: 90%;
    border-radius: 20px;
    max-height: auto;
    margin: 30px 0;
  }
  .gogreen-main-container .gogreen-container h2 {
    font-size: 25px;
    margin-top: 10px;
  }
  .gogreen-main-container .gogreen-container p {
    font-size: 14px;
  }
  .gogreen-main-container .gogreen-container .span {
    font-size: 20px;
  }
  /* =================== Reach us Section ================== */
  .reachus-main-container {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .reachus-main-container .reachus-image-container {
    height: 50vh;
    width: 100%;
  }
  .reachus-main-container .reachus-image-container img {
    height: 90%;
    width: 90%;
  }
  .reachus-main-container .reachus-content-container .reachus-container {
    margin: 35px auto;
  }
  .reachus-main-container .reachus-content-container {
    height: 50vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .reachus-main-container .reachus-content-container .reachus-container h2 {
    width: 100%;
    margin: 0px;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-mail {
    padding: 0px;
    margin: 0px;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-call {
    padding: 0px;
    margin: 0px;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-location {
    padding: 0px;
    margin: 0px;
    height: 40px;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-socialmedia {
    padding: 0px;
    margin: 0px;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-title
    h2 {
    font-size: 25px;
    margin: 10px;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-icon
    a
    img {
    /* border: 1px solid white; */
    height: 30px;
    width: 30px;
    margin-left: 12px;
    /* margin: 0px; */
    /* padding-left: 10px; */
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-socialmedia
    a
    img {
    /* border: 1px solid white; */
    height: 30px;
    width: 30px;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-icon
    a {
    margin: 0px;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-icon
    img {
    height: 100%;
    width: 100%;
    /* background-color: white; */
    /* margin-left: 10px; */
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-text
    p {
    /* border: 1px solid red; */
    font-size: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-socialmedia
    a {
    margin: 11px;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-text {
    justify-content: flex-start;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-mail {
    /* border: 1px solid white; */
    margin: 25px 0;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-call {
    /* border: 1px solid white; */
    margin: 25px 0;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-location {
    /* border: 1px solid white; */
    margin: 25px 0;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-socialmedia {
    /* border: 1px solid white; */
    margin: 25px 0;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-icon {
    margin-right: 2rem;
  }
  /* ======================= FAQ ==================== */

  .FAQ {
    display: flex;
    flex-direction: column-reverse;
  }
  .FAQ .faq-img-box img {
    height: 50vh;
  }
  .Accordion {
    padding-top: 2rem;
    width: 90%;
  }
  /* ======================= Sticky Icons ==================== */
  .sticky-social-icons {
    transform: scale(0.6);
    top: 50%;
    height: auto;
  }
  .sticky-social-icons .sticky-container .sticky-icons {
    margin: 15px 0;
  }

  /* ======================== Feedback Section =================== */
  .feedback {
    min-height: 100vh;
    max-height: auto;
    /* border: 1px solid green; */
  }
  .feedback .feedback-container {
    flex-direction: column;
    justify-content: center;
  }
  .feedback .feedback-container .image-container {
    /* border: 1px solid white; */
    min-height: 50vh;
    max-height: auto;
    width: 100%;
  }
  .feedback .feedback-container .feedback-form {
    /* border: 1px solid blue; */
    min-height: 50vh;
    max-height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 30px 0;
  }
  .feedback .feedback-container .feedback-form .title h2 {
    /* border: 1px solid yellow; */
    font-size: 25px;
    margin: 0px;
  }
  .feedback .feedback-container .feedback-form .feedback-form-fields {
    /* border: 1px solid red; */
    min-height: 40vh;
    max-height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    /* margin: 20px 0; */
  }
  .feedback
    .feedback-container
    .feedback-form
    .feedback-form-fields
    #lable-field {
    width: 80%;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
  }
  .feedback
    .feedback-container
    .feedback-form
    .feedback-form-fields
    #lable-field
    .input-field {
    margin: 10px;
    width: 100%;
  }
}
/* +++++++++++++++++++ Small Display Phones ++++++++++++++++++++++ */
@media screen and (max-width: 360px) {
  .about-container {
    /* border: 1px solid red; */
    /* margin-bottom: 30px; */
    min-height: 110vh;
    max-height: auto;
    /* margin-bottom: 50px; */
  }
  .about-container .main-container .about-content p:nth-child(4) {
    /* border: 1px solid white; */
  }
  .about-container .main-container .about-content {
    margin-top: 30px;
    min-height: 60vh;
    max-height: auto;
  }
  .vision-container .main-vision-container .mission-content .test h2 {
    padding: 15px;
  }
  .gogreen-main-container .gogreen-container {
    width: 90%;
    height: 90vh;
    overflow: scroll;
  }
  .reachus-main-container .reachus-content-container .reachus-container {
    margin: 30px 35px 30px 35px;
  }
  .feedback .feedback-container .feedback-form .feedback-form-fields {
    margin: 30px 0;
  }
  .feedback {
    min-height: 105vh;
  }
}

/* ===================== Even smaller Display Screens ====================== */
@media screen and (max-width: 330px) {
  .about-container {
    min-height: 100vh;
  }
  .about-container .main-container .about-image {
    /* border: 1px solid white; */
    height: 35vh;
  }
  .about-container .main-container .about-image img {
    margin: 10px 0 0 0;
  }
  .about-container .main-container .about-content * {
    margin: 3px 0;
  }
  .about-container .main-container .about-content h2 {
    font-size: 25px;
  }
  .about-container .main-container .about-content h2:nth-child(2) {
    font-size: 16px;
  }
  .about-container .main-container .about-content p {
    font-size: 12px;
  }
  .vision-container .main-vision-container .vision-content .vision-text p {
    font-size: 12px;
  }
  .vision-container .main-vision-container .mission-content .test p {
    font-size: 12px;
  }
  .gogreen-main-container .gogreen-container p {
    font-size: 12px;
    line-height: 20px;
  }
  /* .reachus-main-container{
    background-color: #000000;
opacity: 0.8;
background-image: radial-gradient(#ffffff 0.5px, #000000 0.5px);
background-size: 10px 10px;
  } */
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-icon
    a
    img {
    height: 25px;
    width: 25px;
  }
  .reachus-main-container .reachus-content-container .reachus-container {
    margin: 0px 35px 30px 35px;
  }
  .gogreen-main-container .gogreen-container .span {
    font-size: 16px;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-socialmedia
    a
    img {
    height: 25px;
    width: 25px;
  }
  .reachus-main-container
    .reachus-content-container
    .reachus-container
    .reachus-text
    p {
    font-size: 16px;
  }
  .feedback {
    height: 110vh;
  }
  .feedback .feedback-container .image-container {
    margin-top: 50px;
  }
  .feedback .feedback-container .feedback-form .title h2 {
    font-size: 20px;
  }
  .feedback
    .feedback-container
    .feedback-form
    .feedback-form-fields
    #lable-field
    input::placeholder {
    font-size: 12px;
  }
  .feedback
    .feedback-container
    .feedback-form
    .feedback-form-fields
    #lable-field
    input {
    padding-top: 0.6rem;
    padding-right: 0.5rem;
    padding-bottom: 0.6rem;
    padding-left: 0.5rem;
  }
}
