/* !===================================== responsive css =========================================*/
@media only screen and (max-width: 1024px) {
  .pricing .pricing-container .card-1:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  .pricing .pricing-container .card-3:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  /* floating icon section  */
  .floating-icon {
    bottom: 15px;
    right: 15px;
    /* width: 50px;
    height: 50px; */
  }
  /* .floating-icon a .register-icon {
    width: 38px;
    height: 38px;
  } */
}

@media only screen and (max-width: 800px) {
  body {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  /* ====================== hero page ===========================  */
  .hero-section {
    padding-top: 2.9vh;
  }
  .hero-section .main-container {
    display: flex;
    flex-direction: column;
  }
  .hero-section .main-container .main-content-container {
    /* border: 1px solid red; */
    width: 100%;
    height: 50vh;
    padding: 20px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
  }
  .hero-section .main-container .main-content-container .main-title {
    margin-bottom: 15px;
    font-size: 48px;
    color: var(--highlight-color);
    -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0);
  }
  .hero-section .main-container .main-content-container .main-subtitle {
    margin-bottom: 15px;
    font-size: 30px;
  }
  .hero-section .main-container .main-content-container .main-text {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .hero-section .main-container .main-content-container a button {
    font-size: 16px;
  }
  .hero-section .main-container .main-content-container a button img {
    height: 16px;
  }
  .hero-section .main-content-image {
    height: 25vh;
    width: 100%;
    padding: 0px 10px;
  }
  .hero-section .main-content-image img {
    height: 25vh;
    width: 100%;
  }
  .hero-section .marquee-container {
    margin-bottom: 0;
  }
  /* ================ counter and video section ========  */
  .video-counter {
    max-width: 100%;
    height: 82vh;
    padding-bottom: 75px;
    /* border: 1px solid white; */
  }
  .video-counter .counter-container {
    flex-direction: row;
    flex-wrap: wrap;
    height: 15vh;
    margin: 15px 0;
  }
  .video-counter .counter-container .counter-box {
    /* flex-direction: column; */
    width: 22%;
    height: 15vh;
  }
  .video-counter .counter-container .counter-box h2 {
    font-size: 25px;
  }
  .video-counter .counter-container .counter-box p {
    font-size: 15px;
  }
  .video-counter .video-container {
    height: auto;
    /* height: 64vh; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    padding: 5px;
  }
  .video-counter .video-container .video-container-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
  }

  .video-counter .video-container .video-container-text .title-text {
    padding: 5px 10px;
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
  }
  .video-counter .video-container .video-container-text p {
    margin: 0;
    margin: -10px 0 20px 0;
  }
  .video-counter .video-container .video-container-text a {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .video-counter .video-container .video-container-text .animated {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid white; */
    width: fit-content;
    margin: 0 auto;
  }
  .video-counter .video-container .video-container-text a {
    /* border: 1px solid white; */
  }
  .video-counter .video-container .video-container-video {
    margin: 0;

    width: 95%;
    padding: 0;
    /* border: 1px solid white; */
  }
  .video-counter .video-container .video-container-video iframe {
    margin: 10px 0;
    width: 100%;
    height: 192px;
    /* padding: 10px 0; */
  }
  /*==================== Questions and answer section styling ================================== */

  .question-answer {
    padding: 5px;
    /* height: 100vh; */
    height: auto;
    /* border: 1px red solid; */
  }
  .question-answer .question-answer-title {
    margin: 0;
    font-size: 34px;
    padding-top: 0;
    height: 10vh;
  }
  .solution-section .counter-section .counter-box h2 {
    font-size: 37px;
    font-weight: 500;
  }

  .question-answer .question-answer-title h2 {
    font-size: 34px;
  }

  .question-answer .cube-image-part-pc {
    display: none;
  }

  .cube-image-part-mobile {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .cube-image-part-mobile .cube-img {
    display: block;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
  }
  .cube-image-part-mobile .cube-img .mobile-cube {
    width: 62%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
  .cube-image-part-mobile .question-answer-list {
    padding: 20px 0;
  }
  .cube-image-part-mobile .question-answer-list li {
    display: flex;
    padding: 10px 0;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cube-image-part-mobile .question-answer-list li img {
    width: 90%;
    height: auto;
    margin: 5px 0;
  }

  /*!=============------- Features section -------================= */
  .sorted-features-pc {
    display: none;
  }
  .sorted-features {
    min-height: 100vh;
  }

  .sorted-features .title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
  }
  .sorted-features .title-box h2 {
    font-size: 34px;
  }
  .sorted-features .card-container-pc {
    display: none;
  }
  .sorted-features .card-container {
    flex-direction: row;
    height: auto;
    width: 100%;
    margin: 10px 0;
    /* overflow-y: scroll; */
  }
  .sorted-features .card-container .full-card .card-flip {
    width: 330px;
  }
  .sorted-features .card-container .full-card:nth-child(1) .card-flip {
    border-top-left-radius: 10px;
  }
  .sorted-features .card-container .full-card:nth-child(4) .card-flip {
    border-bottom-right-radius: 10px;
  }

  .sorted-features
    .card-container
    .full-card:hover
    .card-flip-first
    .card-back {
    border-bottom-left-radius: 10px;
  }
  .sorted-features .card-container .full-card:hover .card-flip-last .card-back {
    border-top-right-radius: 10px;
  }
  /* !======================process section =================== */
  .sorted-hai {
    height: auto;
    padding: 25px 0;
    width: 100%;
    /* background-color: #d9e4f5; */
    /* background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%); */
    padding: 0 8px;
    background-color: rgb(15, 15, 15);
    color: #0b2070;
  }
  .sorted-hai .sorted-hai-pc {
    display: none;
  }
  .sorted-hai .sorted-hai-mobile {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .sorted-hai .sorted-hai-mobile .sorted-hai-title {
    height: 10vh;
    width: 100%;

    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sorted-hai .sorted-hai-mobile .sorted-hai-title h2 {
    font-size: 34px;
    color: #eeeeee;
  }
  .sorted-hai .sorted-hai-mobile .image-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .sorted-hai .sorted-hai-mobile .image-content-container .sorted-hai-image {
    width: 50%;
    height: 80vh;
  }
  .sorted-hai
    .sorted-hai-mobile
    .image-content-container
    .sorted-hai-image
    img {
    width: 100%;
    height: 80vh;
    /* border: 1px solid red; */
  }
  .sorted-hai .sorted-hai-mobile .image-content-container .sorted-hai-content {
    width: 50%;
    height: 80vh;
    /* border: 1px solid rgb(9, 255, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sorted-hai .sorted-hai-mobile .sorted-hai-content {
    font-size: 14px;
  }
  .sorted-hai .sorted-hai-mobile .sorted-hai-content h3 {
    font-weight: 500;
    color: #eeeeee;
  }
  .sorted-hai .sorted-hai-mobile .sorted-hai-content .content-text {
    font-size: 12px;
    font-weight: 300;
    color: #eeeeee;
  }
  .sorted-hai .sorted-hai-mobile .sorted-hai-content .content {
    margin: 41px 0;
  }
  /* ================== pricing setion ================== */
  .pricing {
    height: auto;
  }
  .pricing .pricing-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 2px;
  }
  .pricing .pricing-container .pricing-card {
    width: 83%;
    height: 57vh;
  }
  .pricing .pricing-container .pricing-card .pricing-card-title {
    margin: 0;
  }
  .pricing .pricing-container .pricing-card {
    margin-bottom: 60px;
  }
  .pricing .pricing-container .pricing-card:nth-child(odd) {
    width: 83%;
    height: 50vh;
    /* margin: 20px 0; */

    box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.3);
  }
  .pricing
    .pricing-container
    .pricing-card:nth-child(odd)
    .pricing-card-content {
    margin: 7px 0;
    font-size: 14px;
  }
  /* .pricing .pricing-container .pricing-card .pricing-card-numbers {
    margin: 0;
  } */
  .pricing .pricing-container .card-1:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    border: 1px solid #c0c0c0;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.5),
      inset 0 0 20px rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.712);
  }
  .pricing .pricing-container .card-3:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    border: 1px solid #c0c0c0;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.5),
      inset 0 0 20px rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.712);
  }

  .corosal-box {
    display: block;
  }
  .corosal-box {
    padding: 10px;
    height: 90vh;
    width: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .corosal-box .title-box {
    border: 1px solid white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .corosal-box .title-box h2 {
    font-size: var(--title-text);
  }

  .corosal-box .slider {
    width: 350px;
    padding: 5px;
    color: #0b2070;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .corosal-box .slider .slides .full-card .card-flip {
    min-height: 420px;
    width: 285px;
    /*width: 100%;
    */
    padding: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid rgb(0, 0, 0);
    */
    margin: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 18%,
      rgba(68, 82, 251, 1) 74%,
      rgba(0, 212, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 18%,
      rgba(68, 82, 251, 1) 74%,
      rgba(0, 212, 255, 1) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 18%,
      rgba(68, 82, 251, 1) 74%,
      rgba(0, 212, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
    border-radius: 10px;
    background-color: transparent;
    background-image: linear-gradient(135deg, #172b4d 0, #0a48b3 100%);
    border: 0.5px solid rgba(255, 255, 255, 0.103);
    /*!--------------------------------------------------------*/
    /* transform-style: preserve-3d; */
    perspective: 600px;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
  }
  .corosal-box .slider .slides .full-card:nth-child(1) .card-flip {
    border-top-left-radius: 100px;
  }
  .corosal-box .slider .slides .full-card:nth-child(4) .card-flip {
    border-bottom-right-radius: 100px;
  }
  .corosal-box .slider .slides .full-card .card-flip .card-front {
    padding-top: -8px;
    display: flex;
    flex-direction: column;
    /* border: 3px dotted green; */

    justify-content: center;
    align-items: center;
    text-align: center;
    height: 376px;
    /*!----------------------------------*/
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  /* .sorted-features .card-container .full-card:hover .card-flip .card-front {
  } */

  .corosal-box .slider .slides .full-card .card-flip .card-back {
    /*display: none;
    */
    font-size: var(--text);
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(135deg, #172b4d 0, #0a48b3 100%);
    padding: 10px;
    color: #ffd700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .corosal-box .slider .slides .full-card:hover .card-flip {
    background-color: transparent;
  }
  .corosal-box .slider .slides .full-card:hover .card-flip-first {
    border-bottom-left-radius: 100px;
    border-top-left-radius: 10px;
  }
  .corosal-box .slider .slides .full-card:hover .card-flip-last {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 100px;
  }
  .corosal-box .slider .slides .full-card:hover .card-flip-common {
    border-bottom-left-radius: 10px;
    /* border-top-right-radius: 100px; */
  }
  .corosal-box .slider .slides .full-card:hover .card-flip .card-front {
    transform: rotateX(-180deg);
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
  }

  .corosal-box .slider .slides .full-card:hover .card-flip .card-back {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /* border-bottom-left-radius: 100px; */
  }
  .corosal-box .slider .slides .full-card:hover .card-flip-first .card-back {
    border-bottom-left-radius: 100px;
  }
  .corosal-box .slider .slides .full-card:hover .card-flip-last .card-back {
    border-top-right-radius: 100px;
  }
  /* .sorted-features .card-container .full-card:nth-child(1) .card-flip .card-back {
    background-color: #07192f;
    /* height: ; */
  /* } */
  .corosal-box .slider .slides .full-card .card-front .card-title {
    height: 92px;
    width: 100%;
    font-size: 25px;
    font-weight: 450;
    /* border: #000b4d 3px dotted; */
    color: var(--text-color);
  }

  .corosal-box .slider .slides .full-card .card-flip .card-front .card-image {
    width: 90%;
    height: 208px;
  }

  .corosal-box .slider .slides {
    display: flex;
    margin-left: 5px;
    overflow-x: auto;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .corosal-box .slider .slides::-webkit-scrollbar {
    width: 10px;
    height: 15px;
  }
  .corosal-box .slider .slides::-webkit-scrollbar-thumb {
    background: rgba(138, 138, 138, 0.863);
    border-radius: 10px;
  }
  .corosal-box .slider .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .corosal-box .slider .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 330px;
    height: 60vh;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-bottom: 3px;
  }
  .corosal-box .slider .slides > div:target {
    /*   transform: scale(0.8); */
  }

  .corosal-box .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .corosal-box .slider > a:active {
    top: 1px;
  }
  .corosal-box .slider > a:focus {
    background: #000;
  }

  /* Don't need button navigation */
  @supports (scroll-snap-type) {
    .slider > a {
      display: block;
    }
  }

  /* ============ corosal content ============= */

  .corosal-box .slider .slides .full-card .card-flip {
    width: 330px;
  }
  .corosal-box .slider .slides .full-card:nth-child(1) .card-flip {
    border-top-left-radius: 10px;
  }
  .corosal-box .slider .slides .full-card:nth-child(4) .card-flip {
    border-bottom-right-radius: 10px;
  }

  .corosal-box .slider .slides .full-card:hover .card-flip-first .card-back {
    border-bottom-left-radius: 10px;
  }
  .corosal-box .slider .slides .full-card:hover .card-flip-last .card-back {
    border-top-right-radius: 10px;
  }

  /* ================= style of search section============== */
  .searchbar .inner-box .title-box {
    width: 100%;
  }
  .searchbar .inner-box .search-box {
    width: 100%;
    margin: 17px 0 0 0;
  }
  .searchbar .inner-box .search-box .search-bar button {
    padding: 3px 28px;
  }
  .searchbar .inner-box .title-box h2 {
    font-size: 23px;
    text-align: center;
  }
  .searchbar .inner-box {
    width: 90%;
    height: 74vh;
  }
  .searchbar .inner-box .bottom-box .bottom-box-subheading {
    font-size: 22px;
  }
  .searchbar .inner-box .bottom-box {
    width: 100%;
  }
  .searchbar .inner-box .search-box:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  /* =============== footer section============== */
  footer {
    width: 100%;
    height: auto;
  }
  .footer .footer-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    /* border: 2px solid white; */
    padding: 10px;
  }
  .footer .footer-wrapper .links-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 20px;
    /* border: 2px solid white; */
  }
  .footer .footer-wrapper .links-section .links-wrapper .box-1 .box-1-link {
    margin-bottom: 7px;
  }
  .footer .footer-wrapper .links-section .links-wrapper {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 25px;
    /* border: 2px solid white; */
  }
  .footer .footer-wrapper .links-section .social-wrapper {
    margin-top: 25px;
    /* border: 2px solid white; */
    height: auto;
  }
  .footer .footer-wrapper .links-section .social-wrapper .box-1 {
    display: flex;
    flex-direction: row;
  }
  .footer .footer-wrapper .links-section .social-wrapper .box-2 {
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  /* floating icon section  */
  .floating-icon {
    bottom: 15px;
    right: 15px;
    /* width: 50px;
    height: 50px; */
  }
  /* .floating-icon a .register-icon {
    width: 38px;
    height: 38px;
  } */
}
/*======================== for rare phones ============================== */
@media only screen and (max-width: 470px) {
}

/* ========================= screen 360px ===================== */
@media only screen and (max-width: 360px) {
  /* ========= hero page ======== */
  .hero-section .main-container .main-content-container .main-title {
    margin-bottom: 12px;
    font-size: 36px;
    color: var(--highlight-color);
    -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0);
  }
  .hero-section .main-container .main-content-container .main-subtitle {
    margin-bottom: 12px;
    font-size: 21px;
  }
  .hero-section .main-container .main-content-container .main-text {
    margin-bottom: 12px;
    font-size: 12px;
  }
  .hero-section .main-container .main-content-container a button {
    font-size: 14px;
  }
  .hero-section .main-container .main-content-container a button {
    height: 44px;
    padding: 5px 14px;
  }
  .hero-section .main-content-image img {
    height: 26vh;
    width: 100%;
  }
  .container button {
    margin-left: -12px;
  }
  /* ===================== hero section =====================  */
  /* ===================== video and counter section  =====================  */

  /* =================== questions and answer section ================ */
  .question-answer .question-answer-title h2 {
    font-size: 30px;
  }
  .cube-image-part-mobile .question-answer-list li p {
    font-size: 14px;
  }
  /*======================== features section ==================  */
  .sorted-features .card-container .full-card .card-flip {
    width: 284px;
  }
  .sorted-features .card-container .full-card .card-bottom-circle {
    right: -126px;
  }
  .sorted-features
    .card-container
    .full-card:hover
    .card-flip-first
    .card-back {
    border-bottom-left-radius: 10px;
  }
  .sorted-features .card-container .full-card:hover .card-flip-last .card-back {
    border-top-right-radius: 10px;
  }

  /* ===============
  process section ================ */
  .sorted-hai .sorted-hai-mobile .sorted-hai-content .content {
    margin: 37px 0;
  }
  .sorted-hai .sorted-hai-mobile .sorted-hai-content h3 {
    font-weight: 450;
    font-size: 13px;
  }
  .sorted-hai .sorted-hai-mobile .sorted-hai-content p {
    font-size: 10px !important;
  }
  /* ================ pricing setion ============== */
  .pricing {
    width: 100%;
  }
  .pricing .pricing-title h2 {
    color: #0b2070;
    font-size: 28px;
    /* border: 3px solid blue; */
  }
  .pricing .pricing-container .pricing-card .pricing-card-numbers {
    margin: 0;
  }
  .pricing .pricing-container .pricing-card .pricing-card-title {
    margin: 0;
  }
  .pricing
    .pricing-container
    .pricing-card:nth-child(odd)
    .pricing-card-content {
    margin: 7px 0;
    font-size: 11px;
  }
  .pricing .pricing-container .pricing-card .pricing-card-content {
    margin: 7px 0;
    font-size: 11px;
  }
  .pricing .pricing-container .card-1:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    border: 1px solid #c0c0c0;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.5),
      inset 0 0 20px rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.712);
  }
  .pricing .pricing-container .card-3:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    border: 1px solid #c0c0c0;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.5),
      inset 0 0 20px rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.712);
  }
  /* floating icon section  */
  .floating-icon {
    bottom: 15px;
    right: 15px;
  }
}
